 .main-color {
	background-color: #556b2f;
}

.homepage-carousel-title {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
} 

.col-image-left {
    background-image: url("./img/library1.jpg");
    height: 25em !important;
    background-size: cover;  
    background-position: center center;  
    background-repeat: no-repeat;  
}

.col-image-right {
    background-image: url("./img/library2.jpg");
    height: 25em !important;
    background-size: cover;  
    background-position: center center;  
    background-repeat: no-repeat;  
}

.lost-image {
    background-image: url("./img/library3.jpg");
    height: 25em !important;
    background-size: cover;  
    background-position: center center;  
    background-repeat: no-repeat;  
}
